{% extends 'baseIndex.html.twig' %}

{% block title %}L4P{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
        <div class="col-12 mt-3 ">
            <div class="row">
                <div class="col-12 text-lg-end text-center mb-3">
                
                 </div>
                <div class="col-12">
                <h1 class="text-center">Accede a los perfiles de los juegos, <strong id="user">{{user.nombre}}</strong></h1>
            
                </div>   
                
            </div>
        </div>
            <h1>Tús juegos</h1>
            {% if juegosJugados %}
            <table class="col-12">
                <tr>
                    <td  class="p-5 h3"> <strong>Logo</strong></td>
                    <td  class="p-5 h3"><strong>Nombre</strong></td>
                    <td  class="p-5 h3"><strong>Categoría</strong></td>
                    <td  class="pt-5" id="addj" style="display:none"><button onclick=addJuegos(this) class="quitara text-center">Guardar</button></td>
                </tr>
                {% for juego in juegosJugados %}
                <tr>
                <td class="px-5"><img width='50px' height='50px'  src="{{juego.displayPhoto()}}"/></td>
                    <td class="px-5 ">{{ juego.nombre }}</td>
                    <td class="px-5">{{ juego.categoria }}</td>
                    <td id="px-5 "> <button id="{{juego.id}}" onclick="window.location.href='http://127.0.0.1:8000/forum/perfilJuego/{{juego.id}}'" class="quitara text-center">Ver Perfil</button> </td>
                    
                    
                </tr>
                   
                {% endfor %}
            </table>
            {% endif %}
            <h1 class="mt-5">Otros juegos</h1>
            {% if juegosSinJugar %}
            <table class="col-12">
                <tr>
                    <td  class="p-5 h3"> <strong>Logo</strong></td>
                    <td  class="p-5 h3"><strong>Nombre</strong></td>
                    <td  class="p-5 h3"><strong>Categoría</strong></td>
                    <td  class="pt-5" id="addj" style="display:none"><button onclick=addJuegos(this) class="quitara text-center">Guardar</button></td>
                </tr>
                {% for juego in juegosSinJugar %}
                <tr>
                <td class="px-5"><img width='50px' height='50px'  src="{{juego.displayPhoto()}}"/></td>
                    <td class="px-5 ">{{ juego.nombre }}</td>
                    <td class="px-5">{{ juego.categoria }}</td>
                    <td id="px-5 "> <button id="{{juego.id}}" onclick="window.location.href='http://127.0.0.1:8000/forum/perfilJuego/{{juego.id}}'" class="quitara text-center">Ver Perfil</button> </td>
                    
                    
                </tr>
                   
                {% endfor %}
            </table>
            {% endif %}
            
        
                   
        </div>
    </div>
</div>


{% endblock %}